<!-- Footer Component -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/images/logo-footer.png"
                     srcset="/images/logo-footer.png 1x, /images/logo-footer@2x.png 2x, /images/logo-footer@3x.png 3x"
                     alt="VueNexa Logo" 
                     class="logo-img" />
            </div>
            <p class="footer-text">
                Building the future of web applications and mobile apps, one project at a time.
            </p>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="social-link"><i class="fab fa-github"></i></a>
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 VueNexa Technologies. All rights reserved.</p>
        </div>
    </div>
</footer>
