<!-- Header Component -->
<nav class="navbar">
    <div class="nav-container">
        <img src="/images/logo-3.png" 
             srcset="/images/logo.png 1x, /images/logo@2x.png 2x, /images/logo@3x.png 3x"
             alt="VueNexa Logo" 
             class="logo-img" />
        <ul class="nav-menu">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="services.html" class="nav-link">Services</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
